* {
  box-sizing: border-box;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body {
  margin: 0;
  font-family: sans-serif;
}

input[type=text], input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  resize: vertical;
}

input[type=text]:focus, input[type=number]:focus, select:focus, textarea:focus {
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border: 2px solid #ccc;
  outline: none;
  background-color: #f6f6f6;
}

input[type=text]:hover, input[type=number]:hover, select:hover, textarea:hover {
  border: 2px solid #ccc;
}

textarea {
  resize: none;
  height: 74px;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
  font-weight: bold;
  color: #777;
}

input[type=submit] {
  padding: 10px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  opacity: 0.8;
  width: 100px;
  background-color: #ccc;
  color: #222;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

input[type=submit]:hover {
  background-color: #04AA6D;
  color: #FFFFFF;
}

.buttonUpdate {
  padding: 10px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  opacity: 0.8;
  width: 100px;
  background-color: #ccc;
  color: #222;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

.buttonUpdate:hover {
  background-color: #04AA6D;
  color: #FFFFFF;
}

button {
  opacity: 0.8;
  padding: 10px 13px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
  margin-right: 10px;
  width: 100px;
  background-color: #ccc;
  color: #222;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
}

button:hover {
  background-color: #e23939;
  color: #FFFFFF;
}

.container {
  background-color: white;
  padding: 20px;
  box-shadow: 0 6px 12px 0 rgba(0, 0, 0, 0.2), 0 9px 30px 0 rgba(0, 0, 0, 0.19);
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

.radioSelect {
  padding: 12px;
  border: 2px solid #ddd;
  border-radius: 4px;
  resize: vertical;
  float: left;
  width: 75%;
  margin-top: 6px;
}
.radio {
  cursor: pointer;
}
.radioSpan {
  font-size: 14px;
  color: #666;
}
.radioSelect:hover {
  border: 2px solid #ccc;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }

  textarea {
    height: 135px;
  }

  button {
    width: 100%;
    margin-top: 10px;
    margin-right: 0;
  }
}

.text{
  color: #666;
  text-align: center;
  margin-top: 0;
  margin-bottom: 15px;
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}




/* side navigation bar */
.mainSideNav {
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f9f9f9;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2), 0 0 50px 0 rgba(50, 50, 50, 0.22);
  z-index: 1;
}

ul.sidenav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 20%;
  background-color: #f9f9f9;
  position: fixed;
  height: 100%;
  overflow: auto;
  box-shadow: 0 0 10px 0 rgba(50, 50, 50, 0.2), 0 0 50px 0 rgba(50, 50, 50, 0.22);
}

ul.sidenav li a {
  display: block;
  color: #777;
  padding: 8px 17px;
  font-weight: bold;
  text-decoration: none;
}

ul.sidenav li {
  border-bottom: 1px solid rgba(0, 0, 0, 0.22);
}

/* side navigation - current page selected*/
ul.sidenav li a.current {
  background-color: white;
  border-left: 7px solid rgba(0, 0, 0, 0.3);;
  color: #666;
  box-shadow: 5px 0 11px 7px #eee,5px 0 11px 7px #eee;
}

ul.sidenav li a.current:hover {
  padding: 8px 17px;
  background-color: white;
  border-left: 7px solid rgba(0, 0, 0, 0.3);;
  color: #666;
  box-shadow: 5px 0 11px 7px #eee,5px 0 11px 7px #eee;
}

ul.sidenav li a:hover {
  background-color: white;
  color: #666;
  box-shadow: 5px 0 11px 7px #eee,5px 0 11px 7px #eee;
  padding: 8px 25px;
  -webkit-transition: 0.5s;
  transition: 0.4s;
}


/* body content for side navigation */
div.content {
  margin-left: 20%;
  padding: 1px 66px;
  height: auto;
}
/*
@media screen and (max-width: 1100px) {
  div.content {
      width: fit-content;
  }
}
*/

@media screen and (max-width: 1100px) {
  .mainSideNav {
      width: 190px;
  }
  ul.sidenav {
      width: 190px;
  }
}
@media screen and (max-width: 800px) {
  .containerUpdate {
    margin-right: 0;
  }
}
@media screen and (max-width: 600px) {
  div.content {
    padding-right: 30px;
  } 
}
@media screen and (max-width: 510px) {
  div.content {
    padding-right: 10px;
  } 
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}